<div class="container-fluid p-0 app-layout">
    <div class="row h-100">
        <div class="col-lg-1 p-0 col-md-1">
            <div class="app-nav-bar">
                <app-app-navbar></app-app-navbar>
            </div>
        </div>
        <div class="col-lg-8 p-0 col-md-8">
            <div class="app-main">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-lg-3 p-0 col-md-3">
            <div class="app-footer">

            </div>
        </div>
    </div>
    
    
    
</div>